*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.overallWrapper{
    width: 100%;
    height: 100vh;
    background-color: #fff000;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #ff0000;
    color: #fff000;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}